@media (max-width: 960px) {
    .uk-padding-remove-top\@m {
        padding-top: 0px !important;
    }
}

@media (max-width: 960px) {
    .uk-height-viewport\@m {
        min-height: 100vh !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
